* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    background-image: url('assets/dontpresswallpaper.jpg');
}

.button {
    text-align: center;
    padding-top: 38vh
}